VITE_APPWRITE_ENDPOINT_URL=
VITE_APPWRITE_PROJECTID_KEY=
VITE_APPWRITE_DATABASE=
VITE_APPWRITE_POSTS=
VITE_API_URL=  # API base url 
VITE_PERSON_API_URL=
VITE_EDITOR_API_KEY=  # API key for textEditor